html{height: 100%;}

body
{ background: #FFFFFF url(back_5.png) repeat-x;
  color: #425448;
}

blockquote
{ background-color: #EFF7F2;
  color: #425448;
  border-color: #C5D3CA;
}

#links, #links a
{ background-color: transparent;
  color: #425448;
}

#links a:hover
{ background-color: transparent;
  color: #FFFFFF;
}

#logo
{ background: #97ABA2 url(logo_5.jpg) no-repeat;
  color: #425448;
  border-color: #FFFFFF;
}

#logo h1
{ background-color: transparent;
  color: #FFFFFF;
}  

#content, #column1, #column2
{ background-color: #FFFFFF;
  color: #425448;
} 

#column2 h1
{ background: transparent;
  color: #425448;
  border-color: #EFF7F2;
}

#menu, #addlinks, .sidebaritem
{ background: #FFFFFF url(box_5.png) repeat-x;
  color: #425448;
}

#menu li a, #addlinks li a
{ background-color: transparent;
  color: #425448;
  border-color: #FFFFFF;
} 

#menu li a:hover, #menu li a#selected, #addlinks li a:hover
{ background-color: #97ABA2; 
  color: #FFFFFF;
  border-color: #FFFFFF;
} 

.sidebaritem a, #column2 a
{ background-color: transparent;
  color: #0E7E45;
}

.sidebaritem a:hover, #column2 a:hover
{ background-color: #EFF7F2;
  color: #425448;
}

#footer, #footer a
{ background-color: #97ABA2;
  color: #425448;
}

#footer a:hover
{ background: #97ABA2;
  color: #FFFFFF;
}

input, textarea
{ background-color: #FFFFFF;
  color: #425448;
  border-color: #5E7065;
}
