html{height: 100%;}

body
{ background: #FFFFFF url(back_7.png) repeat-x;
  color: #3F4957;
}

blockquote
{ background-color: #EFF2F7;
  color: #3F4957;
  border-color: #BBC3CF;
}

#links, #links a
{ background-color: transparent;
  color: #3F4957;
}

#links a:hover
{ background-color: transparent;
  color: #FFFFFF;
}

#logo
{ background: #90A1BC url(logo_7.jpg) no-repeat;
  color: #3F4957;
  border-color: #FFFFFF;
}

#logo h1
{ background-color: transparent;
  color: #FFFFFF;
}  

#content, #column1, #column2
{ background-color: #FFFFFF;
  color: #3F4957;
} 

#column2 h1
{ background: transparent;
  color: #3F4957;
  border-color: #EFF2F7;
}

#menu, #addlinks, .sidebaritem
{ background: #FFFFFF url(box_7.png) repeat-x;
  color: #3F4957;
}

#menu li a, #addlinks li a
{ background-color: transparent;
  color: #3F4957;
  border-color: #FFFFFF;
} 

#menu li a:hover, #menu li a#selected, #addlinks li a:hover
{ background-color: #90A1BC; 
  color: #FFFFFF;
  border-color: #FFFFFF;
} 

.sidebaritem a, #column2 a
{ background-color: transparent;
  color: #0C56BA;
}

.sidebaritem a:hover, #column2 a:hover
{ background-color: #EFF2F7;
  color: #3F4957;
}

#footer, #footer a
{ background-color: #90A1BC;
  color: #3F4957;
}

#footer a:hover
{ background: #90A1BC;
  color: #FFFFFF;
}

input, textarea
{ background-color: #FFFFFF;
  color: #3F4957;
  border-color: #506584;
}
