html{height: 100%;}

body
{ background: #FFFFFF url(back_6.png) repeat-x;
  color: #4B3B3B;
}

blockquote
{ background-color: #F7EFEF;
  color: #4B3B3B;
  border-color: #D3BDBE;
}

#links, #links a
{ background-color: transparent;
  color: #4B3B3B;
}

#links a:hover
{ background-color: transparent;
  color: #FFFFFF;
}

#logo
{ background: #928080 url(logo_6.jpg) no-repeat;
  color: #4B3B3B;
  border-color: #FFFFFF;
}

#logo h1
{ background-color: transparent;
  color: #FFFFFF;
}  

#content, #column1, #column2
{ background-color: #FFFFFF;
  color: #4B3B3B;
} 

#column2 h1
{ background: transparent;
  color: #4B3B3B;
  border-color: #F7EFEF;
}

#menu, #addlinks, .sidebaritem
{ background: #FFFFFF url(box_6.png) repeat-x;
  color: #4B3B3B;
}

#menu li a, #addlinks li a
{ background-color: transparent;
  color: #4B3B3B;
  border-color: #FFFFFF;
} 

#menu li a:hover, #menu li a#selected, #addlinks li a:hover
{ background-color: #928080; 
  color: #FFFFFF;
  border-color: #FFFFFF;
} 

.sidebaritem a, #column2 a
{ background-color: transparent;
  color: #83452F;
}

.sidebaritem a:hover, #column2 a:hover
{ background-color: #F7EFEF;
  color: #4B3B3B;
}

#footer, #footer a
{ background-color: #928080;
  color: #4B3B3B;
}

#footer a:hover
{ background: #928080;
  color: #FFFFFF;
}

input, textarea
{ background-color: #FFFFFF;
  color: #4B3B3B;
  border-color: #725554;
}
