.exempt {
	background-color: lime;
}

.notPlaying {
	background-color: silver;
}

table.data th, table.data td {
	text-align: center;
}

table.data {
	caption-side: bottom;	
}

table.data caption {
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
}

#addlinks select {
	display: inline;
}

#addlinks {
	visibility: hidden;
}

#leaguelinks {
	display: none;
}

#profilelinks {
	display: none;
}

#statisticslinks {
	display: none;
}

#colourBlock {
	outline: black solid thin;
	width: 100px;
}

#calendar {
	width: auto;
	float: left;
	margin-left: 15px;
}

#largeChart {
	position: absolute;
	left: 50px;
	visibility: hidden;
}

#largeChart a {
	display: block;
}