.exempt {
	background-color: lime;
}

.notPlaying {
	background-color: silver;
}

table.data th, table.data td {
	text-align: center;
}

#addlinks select {
	display: inline;
}

#addlinks {
	visibility: hidden;
}

#leaguelinks {
	display: none;
}

#profilelinks {
	display: none;
}

#statisticslinks {
	display: none;
}

#colourBlock {
	outline: black solid thin;
	width: 100px;
}
