.exempt {
	background-color: lime;
}

.notPlaying {
	background-color: silver;
}

#addlinks input {
	display: inline;
}

#addlinks {
	visibility: hidden;
}

#leaguelinks {
	display: none;
}

#profilelinks {
	display: none;
}

#statisticslinks {
	display: none;
}