<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
  default-autowire="byName">

	<bean id="allGameFilter" class="uk.co.unclealex.rokta.filter.AllGameFilter">
		<property name="encodableFactory" ref="gameFilterFactory"/>
	</bean>
	<bean id="beforeGameFilter" class="uk.co.unclealex.rokta.filter.BeforeGameFilter">
		<property name="encodableFactory" ref="gameFilterFactory"/>
	</bean>
	<bean id="sinceGameFilter" class="uk.co.unclealex.rokta.filter.SinceGameFilter">
		<property name="encodableFactory" ref="gameFilterFactory"/>
	</bean>
	<bean id="betweenGameFilter" class="uk.co.unclealex.rokta.filter.BetweenGameFilter">
		<property name="encodableFactory" ref="gameFilterFactory"/>
	</bean>
	<bean id="weekGameFilter" class="uk.co.unclealex.rokta.filter.WeekGameFilter">
		<property name="encodableFactory" ref="gameFilterFactory"/>
	</bean>
	<bean id="monthGameFilter" class="uk.co.unclealex.rokta.filter.MonthGameFilter">
		<property name="encodableFactory" ref="gameFilterFactory"/>
	</bean>
	<bean id="yearGameFilter" class="uk.co.unclealex.rokta.filter.YearGameFilter">
		<property name="encodableFactory" ref="gameFilterFactory"/>
	</bean>
	<bean id="predicateGameFilter" class="uk.co.unclealex.rokta.filter.PredicateGameFilter">
		<property name="encodableFactory" ref="gameFilterFactory"/>
		<property name="gamePredicateFactory" ref="gamePredicateFactory"/>
	</bean>

	<bean
		id="gameFilterFactory"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"
		scope="prototype">
    <property name="target">
	    <bean class="uk.co.unclealex.rokta.filter.GameFilterFactoryImpl">
	    	<property name="encodableTemplates">
	    		<list>
	    			<ref bean="allGameFilter"/>
	    			<ref bean="beforeGameFilter"/>
	    			<ref bean="betweenGameFilter"/>
	    			<ref bean="monthGameFilter"/>
	    			<ref bean="predicateGameFilter"/>
	    			<ref bean="sinceGameFilter"/>
	    			<ref bean="weekGameFilter"/>
	    			<ref bean="yearGameFilter"/>
	    		</list>
	    	</property>
	    </bean>
    </property>
    <property name="transactionAttributes">
      <props>
        <prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
      </props>
    </property>
	</bean>
	
	<bean id="firstGameTheOfDayPredicate" class="uk.co.unclealex.rokta.predicate.FirstGameOfTheDayPredicate">
		<property name="encodableFactory" ref="gamePredicateFactory"/>
	</bean>

	<bean id="firstGameTheOfWeekPredicate" class="uk.co.unclealex.rokta.predicate.FirstGameOfTheWeekPredicate">
		<property name="encodableFactory" ref="gamePredicateFactory"/>
	</bean>

	<bean
		id="gamePredicateFactory"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"
		scope="prototype">
    <property name="target">
	    <bean class="uk.co.unclealex.rokta.predicate.GamePredicateFactoryImpl">
	    	<property name="encodableTemplates">
	    		<list>
	    		</list>
	    	</property>
	    </bean>
    </property>
    <property name="transactionAttributes">
      <props>
        <prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
      </props>
    </property>
	</bean>

</beans>

