.day-suffix {
  font-size: 70%;
  position: relative;
  top: -0.5em;
}

h1 .day-suffix {
  font-size: 50%;
  position: relative;
  top: -0.7em;
}

.leagueup {
  color: green;
}

.leaguedown {
  color: red;
}

.exempt, .notplaying {
  font-size: large;
}
.exempt {
  color: red;
}

.notplaying {
  color: blue;
}

body {
  background-image: url(../images/fresh_snow.png);
}
/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/*
 Navbar animation
*/

.open > a {
  -webkit-transition:all linear 0.25s;
  -moz-transition:all linear 0.25s;
  -o-transition:all linear 0.25s;
  transition:all linear 0.25s;
}

.open > .dropdown-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity:1;
}

.dropdown-menu {
  opacity:.3;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: scale(1, 0);
  display: block;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}
/*
 Fade in animation
*/

.fade-in {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
  opacity:1;
}

.fade-in.ng-hide-add,
.fade-in.ng-hide-remove {
  display:block!important;
}

.fade-in.ng-hide {
  opacity:0;
}

/*
 Growing text animation
*/

.grow {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
  opacity:1;
}

.grow.ng-hide-add,
.grow.ng-hide-remove {
  display:inline!important;
}

.grow.ng-hide {
  opacity:0;
  font-size:0;
}
