<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>
      </th>
      <th>Rank</th>
      <th>Player</th>
      <th class="hidden-xs">Games</th>
      <th class="hidden-xs">Lost</th>
      <th class="hidden-xs">R/WG</th>
      <th class="hidden-xs">R/LG</th>
      <th>L/G</th>
      <th class="hidden-xs">Gap</th>
    </tr>
  </thead>
  <tbody>
    <tr
      tooltip-html-unsafe="
        Win next: {{ 100 * row.gamesLost / (row.gamesWon + 1 + row.gamesLost) | number:2 }}%,<br/> 
        Lose next: {{ 100 * (row.gamesLost + 1) / (row.gamesWon + 1 + row.gamesLost) | number:2 }}%" 
      ng-repeat="row in league"
      class="league-row">
      <td>
        <i ng-class="{
          'fa fa-arrow-up leagueup': row.movement < 0, 
          'fa fa-arrows-h': row.movement == 0, 'fa fa-arrow-down leaguedown': row.movement > 0}">
        </i>
      </td>
      <td>{{$index + 1}}</td>
      <td>
        <span rokta-avatar avatar-url="row.avatarUrl"></span>
        {{row.player}}
        <span ng-if="row.exempt || (!row.currentlyPlaying && current)" ng-class="{'exempt': row.exempt, 'notplaying': !row.currentlyPlaying && current}">
          *
        </span>
      </td>
      <td class="hidden-xs">{{row.gamesWon + row.gamesLost}}</td>
      <td class="hidden-xs">{{row.gamesLost}}</td>
      <td class="hidden-xs">{{ row.roundsDuringWinningGames / row.gamesWon | number:1 }}</td>
      <td class="hidden-xs">{{ row.roundsDuringLosingGames / row.gamesLost | number:1 }}</td>
      <td>{{ 100 * row.gamesLost / (row.gamesLost + row.gamesWon) | number:2 }}%</td>
      <td class="hidden-xs">{{row.gap}}</td>
    </tr>
  </tbody>
</table>
<div class="pull-right">
  <span class="exempt">
    *
  </span> = exempt
  <span class="notplaying">
    *
  </span> = not playing
</div>
