html{height: 100%;}

body
{ background: #FFFFFF url(back_8.png) repeat-x;
  color: #584247;
}

blockquote
{ background-color: #F7EFF1;
  color: #584247;
  border-color: #CFBBC0;
}

#links, #links a
{ background-color: transparent;
  color: #584247;
}

#links a:hover
{ background-color: transparent;
  color: #FFFFFF;
}

#logo
{ background: #A9818A url(logo_8.jpg) no-repeat;
  color: #584247;
  border-color: #FFFFFF;
}

#logo h1
{ background-color: transparent;
  color: #FFFFFF;
}  

#content, #column1, #column2
{ background-color: #FFFFFF;
  color: #584247;
} 

#column2 h1
{ background: transparent;
  color: #584247;
  border-color: #F7EFF1;
}

#menu, #addlinks, .sidebaritem
{ background: #FFFFFF url(box_8.png) repeat-x;
  color: #584247;
}

#menu li a, #addlinks li a
{ background-color: transparent;
  color: #584247;
  border-color: #FFFFFF;
} 

#menu li a:hover, #menu li a#selected, #addlinks li a:hover
{ background-color: #A9818A; 
  color: #FFFFFF;
  border-color: #FFFFFF;
} 

.sidebaritem a, #column2 a
{ background-color: transparent;
  color: #B43C69;
}

.sidebaritem a:hover, #column2 a:hover
{ background-color: #F7EFF1;
  color: #584247;
}

#footer, #footer a
{ background-color: #A9818A;
  color: #584247;
}

#footer a:hover
{ background: #A9818A;
  color: #FFFFFF;
}

input, textarea
{ background-color: #FFFFFF;
  color: #584247;
  border-color: #A36B76;
}
