html{height: 100%;}

body
{ background: #FFFFFF url(back_3.png) repeat-x;
  color: #574435;
}

blockquote
{ background-color: #F6F3F0;
  color: #574435;
  border-color: #DFD8D3;
}

#links, #links a
{ background-color: transparent;
  color: #574435;
}

#links a:hover
{ background-color: transparent;
  color: #FFFFFF;
}

#logo
{ background: #B49284 url(logo_3.jpg) no-repeat;
  color: #574435;
  border-color: #FFFFFF;
}

#logo h1
{ background-color: transparent;
  color: #FFFFFF;
}  

#content, #column1, #column2
{ background-color: #FFFFFF;
  color: #574435;
} 

#column2 h1
{ background: transparent;
  color: #574435;
  border-color: #F6F3F0;
}

#menu, #addlinks, .sidebaritem
{ background: #FFFFFF url(box_3.png) repeat-x;
  color: #574435;
}

#menu li a, #addlinks li a
{ background-color: transparent;
  color: #574435;
  border-color: #FFFFFF;
} 

#menu li a:hover, #menu li a#selected, #addlinks li a:hover
{ background-color: #B49284; 
  color: #FFFFFF;
  border-color: #FFFFFF;
} 

.sidebaritem a, #column2 a
{ background-color: transparent;
  color: #E5651F;
}

.sidebaritem a:hover, #column2 a:hover
{ background-color: #F6F3F0;
  color: #574435;
}

#footer, #footer a
{ background-color: #B49284;
  color: #574435;
}

#footer a:hover
{ background: #B49284;
  color: #FFFFFF;
}

input, textarea
{ background-color: #FFFFFF;
  color: #574435;
  border-color: #885946;
}
