html{height: 100%;}

body
{ background: #FFFFFF url(back_1.png) repeat-x;
  color: #53434B;
}

blockquote
{ background-color: #F4F2F3;
  color: #53434B;
  border-color: #DDD5D9;
}

#links, #links a
{ background-color: transparent;
  color: #53434B;
}

#links a:hover
{ background-color: transparent;
  color: #FFFFFF;
}

#logo
{ background: #998D93 url(logo_1.jpg) no-repeat;
  color: #53434B;
  border-color: #FFFFFF;
}

#logo h1
{ background-color: transparent;
  color: #FFFFFF;
}  

#content, #column1, #column2
{ background-color: #FFFFFF;
  color: #53434B;
} 

#column2 h1
{ background: transparent;
  color: #53434B;
  border-color: #F4F2F3;
}

#menu, #addlinks, .sidebaritem
{ background: #FFFFFF url(box_1.png) repeat-x;
  color: #53434B;
}

#menu li a, #addlinks li a
{ background-color: transparent;
  color: #53434B;
  border-color: #FFFFFF;
} 

#menu li a:hover, #menu li a#selected, #addlinks li a:hover
{ background-color: #998D93; 
  color: #FFFFFF;
  border-color: #FFFFFF;
} 

.sidebaritem a, #column2 a
{ background-color: transparent;
  color: #A456D0;
}

.sidebaritem a:hover, #column2 a:hover
{ background-color: #F4F2F3;
  color: #53434B;
}

#footer, #footer a
{ background-color: #998D93;
  color: #53434B;
}

#footer a:hover
{ background: #998D93;
  color: #FFFFFF;
}

input, textarea
{ background-color: #FFFFFF;
  color: #53434B;
  border-color: #705E67;
}
