html{height: 100%;}

body
{ background: #FFFFFF url(back_4.png) repeat-x;
  color: #464032;
}

blockquote
{ background-color: #F7F5EF;
  color: #464032;
  border-color: #D3CFC5;
}

#links, #links a
{ background-color: transparent;
  color: #464032;
}

#links a:hover
{ background-color: transparent;
  color: #FFFFFF;
}

#logo
{ background: #A09478 url(logo_4.jpg) no-repeat;
  color: #464032;
  border-color: #FFFFFF;
}

#logo h1
{ background-color: transparent;
  color: #FFFFFF;
}  

#content, #column1, #column2
{ background-color: #FFFFFF;
  color: #464032;
} 

#column2 h1
{ background: transparent;
  color: #464032;
  border-color: #F7F5EF;
}

#menu, #addlinks, .sidebaritem
{ background: #FFFFFF url(box_4.png) repeat-x;
  color: #464032;
}

#menu li a, #addlinks li a
{ background-color: transparent;
  color: #464032;
  border-color: #FFFFFF;
} 

#menu li a:hover, #menu li a#selected, #addlinks li a:hover
{ background-color: #A09478; 
  color: #FFFFFF;
  border-color: #FFFFFF;
} 

.sidebaritem a, #column2 a
{ background-color: transparent;
  color: #968A26;
}

.sidebaritem a:hover, #column2 a:hover
{ background-color: #F7F5EF;
  color: #464032;
}

#footer, #footer a
{ background-color: #A09478;
  color: #464032;
}

#footer a:hover
{ background: #A09478;
  color: #FFFFFF;
}

input, textarea
{ background-color: #FFFFFF;
  color: #464032;
  border-color: #746C5A;
}
