<div class="row">
  <div class="col-md-4">
    <div ng-if="game">
      <div ng-if="finished">
        <p>
          {{loser}} has lost.
        </p>
        <p>
          <button class="btn btn-danger" ng-click="next()">
            Submit
          </button>
        </p>
      </div>
      <div ng-if="!finished">
        <form name="hands">
          <div class="form-group" ng-repeat="name in currentPlayers">
            <label for="name_{{name}}">{{name}}</label>
            <select id="name_{{name}}" class="form-control" ng-change="registerHand(name, hand)" ng-model="hand" required ng-options="hand for hand in ['ROCK', 'SCISSORS', 'PAPER']">
            </select>
          </div>
          <button class="btn btn-default" ng-disabled="hands.$invalid" ng-click="next()">
            Next
          </button>
        </form>
      </div>
    </div>
    <div ng-if="!game">
      <h2>Select Players</h2>
      <form>
        <div class="form-group">
          <label for="instigator">Instigator</label>
          <select id="instigator" class="form-control" ng-model="game.instigator" ng-options="player for player in players" required>
          </select>
        </div>
        <div class="form-group">
          <label for="players">Players</label>
          <select ng-model="game.participants" ng-options="player for player in players" multiple="true">
          </select>
        </div>
        <button class="btn btn-default" ng-disabled="!game.participants || game.participants.length &lt; 2" ng-click="next(game)">
          Next
        </button>
      </form>
    </div>
  </div>

</div>
