.header {  }

.narrow {
	margin-top: 1em;
	margin-left: 10%;	
}

.narrow .buttons {
	clear: both;
}

.narrow .buttons button {
	float: right;
	margin-top: 1em;
	margin-bottom: 4px;
	margin-left: 0.5em;
}

.narrow table {
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
.narrow table tbody tr td.header {
	background: #6699cc;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
	font-weight: bold;
	color: white;
	text-align: right;
}

.narrow table td {
	background: #f7f7f7;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
	text-align: right;
}

