<div class="row">
  <div class="col-md-12">
    <h1>
      <span ng-if="type=='winning'">Winning</span>
      <span ng-if="type=='losing'">Losing</span>
      Streaks
    </h1>
    <table class="table">
      <tbody>
        <tr>
          <th>
          </th>
          <th>Player</th>
          <th>Length</th>
          <th>From</th>
          <th>To</th>
        </tr>
        <tr ng-repeat="streak in streaks">
          <td>{{streak.index}}</td>
          <td>{{streak.name}}</td>
          <td>{{streak.size}}</td>
          <td>{{streak.from | date:'MMMM d, y h:mm:ss a'}}</td>
          <td>{{streak.to | date:'MMMM d, y h:mm:ss a'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>