<div class="row">
  <div class="col-md-12">
    <div rokta-panel header="{{type == 'winning' ? 'Winning' : 'Losing'}} streaks" ng-show="ready" class="fade-in">
      <table class="table">
        <tbody>
          <tr>
            <th></th>
            <th>Player</th>
            <th>Length</th>
            <th>From</th>
            <th>To</th>
          </tr>
          <tr ng-repeat="streak in streaks">
            <td>{{streak.index}}</td>
            <td>{{streak.player}}</td>
            <td>{{streak.size}}</td>
            <td>{{streak.from | date:'MMMM d, y h:mm a'}}</td>
            <td>{{streak.to | date:'MMMM d, y h:mm a'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>