/* CSS Document */

#header {
	background-image:url(rokta_header.jpg);
	background-repeat:no-repeat;
	width: 554px;
	height: 95px;
	margin-left: 52px;
}
th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bold;
	border: 1px solid #333333;
}
td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	border: 1px dashed #666666;
	text-align: center;
}
table {
	border: 1px solid #999999;
}
#content {
	margin-top: 5px;
	padding-top: 5px;
	margin-left: 55px;
}
body {
	background-color: #C8BE72;
	background-image: url(bg.gif);
	background-repeat: repeat-y;
	margin: 0px;
	padding: 0px;
}
