@(name: Option[String])

<!DOCTYPE html>
<html ng-app="rokta" ng-controller="RoktaCtrl" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Rock, Scissors, Paper extreme!">
    <meta name="author" content="Alex Jones">
    <link href='@routes.Assets.at("images/favicon.png")' rel="shortcut icon" type="image/png" media="screen">

    <title>Rokta</title>

    <!-- Bootstrap core CSS -->
    <link href='//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.min.css' rel="stylesheet" media="screen">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href='@routes.Assets.at("stylesheets/bootstrap.css")' rel="stylesheet">
    <link href='@routes.Assets.at("stylesheets/sticky-footer-navbar.css")' rel="stylesheet">
    <link href='@routes.Assets.at("stylesheets/rokta.css")' rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="NavCtrl">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar">
              </span>
              <span class="icon-bar">
              </span>
              <span class="icon-bar">
              </span>
            </button>
            <a class="navbar-brand" href="#">Rokta</a>
          </div>
          <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
            <ul class="nav navbar-nav">
              <li ng-repeat="menu in nav" ng-class="{'dropdown': menu.submenu}" ng-cloak>
                <a ng-if="menu.link" href="javascript:void(0);" ng-click="navigateTo(menu.link)">
                  <i class="fa fa-{{menu.icon}}">
                  </i>
                  {{menu.name}}
                </a>
                <a ng-if="menu.submenu" href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-{{menu.icon}}">
                  </i>
                  {{menu.name}}
                  <b class="caret">
                  </b>
                </a>
                <ul ng-if="menu.submenu" class="dropdown-menu">
                  <li ng-repeat="submenu in menu.submenu">
                    <a href="javascript:void(0);" ng-click="navigateTo(submenu.link)">{{submenu.name}}</a>
                  </li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                @name match {
                  case None => {
                    <a href="authenticate/google">Login</a>
                  }
                  case Some(name) => {
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        @name
                        <b class="caret">
                        </b>
                    </a>
		                <ul class="dropdown-menu">
		                  <li>
		                    <a href="javascript:void(0);" ng-click="navigateTo('game')">New Game</a>
		                  </li>
		                  <li>
                        <a href="javascript:void(0);" ng-click="navigateTo('administer')">Administer</a>
		                  </li>
		                  <li>
		                    <a href="logout">Log out</a>
		                  </li>
		                </ul>
                  }
                }
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <!-- Begin page content -->
      <div class="container" ng-hide>
        <div ng-view>
        </div>
      </div>
    </div>

    <div id="footer">
      <div class="container" ng-controller="GameFilterCtrl">
        <p ng-cloak class="text-muted credit" ng-bind-html="'You are currently viewing all games ' + (contiguousGameFilter | roktaGame)">
        </p>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
		<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
		
		@for(suffix <- Seq("", "-sanitize", "-route", "-animate")) {
      <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular@{suffix}.min.js'></script>
    }
		<script src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.0/lodash.min.js'></script>
		<script src='@routes.Assets.at("javascripts/ui-bootstrap-tpls-0.7.0.min.js")'></script>
    <script src='//code.highcharts.com/3.0.7/highcharts.js'></script>
    <script src='//code.highcharts.com/3.0.7/highcharts-more.js'></script>
    <script src='@routes.Assets.at("javascripts/day.js")'></script> 
    <script src='@routes.Assets.at("javascripts/events.js")'></script>
    <script src='@routes.Assets.at("javascripts/colours.js")'></script>
    <script src='@routes.Assets.at("javascripts/stats.js")'></script>
    <script src='@routes.Assets.at("javascripts/players.js")'></script>
    <script src='@routes.Assets.at("javascripts/panel.js")'></script>
    <script src='@routes.Assets.at("angular/filters/javascripts/filters.js")'></script>
    <script src='@routes.Assets.at("angular/league/javascripts/league.js")'></script> 
		<script src='@routes.Assets.at("angular/streaks/javascripts/streaks.js")'></script> 		
    <script src='@routes.Assets.at("angular/game/javascripts/game.js")'></script> 
    <script src='@routes.Assets.at("angular/graph/javascripts/graph.js")'></script> 
    <script src='@routes.Assets.at("angular/headtoheads/javascripts/headtoheads.js")'></script> 
		<script src='@routes.Assets.at("javascripts/rokta.js")'></script> 
		
  </body>
</html>
