<div class="row">
  <div class="col-md-8">
    <h1 ng-bind-html="'The league for games ' + (contiguousGameFilter | roktaGame)">
    </h1>
    <div rokta-league league="league" current="current && anyGamesPlayedToday">
    </div>
  </div>
  <div class="col-md-4">
    <div ng-controller="LastGameCtrl">
      <h3>The Last Game</h3>
      <ul>
        <li ng-bind-html="'was played on ' + (lastGame.datePlayed | roktaDay)">
        </li>
        <li>was lost by {{lastGame.loser}}.</li>
        <li>
          lasted 
          <span ng-pluralize count="lastGame.numberOfRounds" when="{'one': '{} round.', 'other': '{} rounds.'}">
          </span>
        </li>
      </ul>
    </div>
    <h3>Todays results</h3>
    <ul ng-controller="TodayCtrl">
      <li> 
        <span ng-pluralize 
          count="numberOfGamesToday" 
          when="{0: 'No games have', 'one': '1 game has', 'other': '{} games have'}">
        </span>
        been played today
      </li>
      <div rokta-today results="gamesWon" verb="won">
      </div>
      <div rokta-today results="gamesLost" verb="lost">
      </div>
    </ul>
    <h3>Current streaks</h3>
    <ul ng-controller="CurrentStreaksCtrl">
      <div rokta-current-streaks streak-groups="winningStreakGroups" type="winning">
      </div>
      <div rokta-current-streaks streak-groups="losingStreakGroups" type="losing">
      </div>
    </ul>
  </div>
</div>
