<div class="row">
  <div class="col-md-8">
    <div rokta-panel header="The league">
      <div rokta-league league="league" current="current && anyGamesPlayedToday">
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div ng-controller="LastGameCtrl">
      <div rokta-panel header="The last game">
        <div ng-bind-html="'It was played on ' + (lastGame.datePlayed | roktaDay)">
        </div>
        <div>
          It was lost by {{lastGame.loser}}.
        </div>
        <div>
          It lasted
          <span ng-pluralize count="lastGame.numberOfRounds" when="{'one': '{} round.', 'other': '{} rounds.'}"> </span>
        </div>
      </div>
    </div>
    <div ng-controller="TodayCtrl">
      <div rokta-panel header="Today's results">
        <div>
          <span ng-pluralize
          count="numberOfGamesToday"
          when="{0: 'No games have', 'one': '1 game has', 'other': '{} games have'}"> </span>
          been played today.
        </div>
        <div rokta-today results="gamesWon" verb="won"></div>
        <div rokta-today results="gamesLost" verb="lost"></div>
      </div>
    </div>
    <div ng-controller="CurrentStreaksCtrl">
      <div rokta-panel header="Current streaks">
        <div rokta-current-streaks streak-groups="winningStreakGroups" type="winning"></div>
        <div rokta-current-streaks streak-groups="losingStreakGroups" type="losing"></div>
      </div>
    </div>
  </div>
</div>
