<div class="row">
  <div class="col-md-8">
    <h1 ng-bind-html="'The league for games ' + (contiguousGameFilter | roktaGame)"></h1>
    <rokta-league league="league" current="current && anyGamesPlayedToday">
    </rokta-league>
  </div>
  <div class="col-md-4">
    <div ng-controller="LastGameCtrl">
      <h3 ng-if="lastGame">The Last Game</h3>
      <ul ng-if="lastGame">
        <li ng-bind-html="'was played on ' + (lastGame.datePlayed | roktaDay)"></li>
        <li>was lost by {{lastGame.loser}}.</li>
        <li>
          lasted 
          <ng-pluralize count="lastGame.numberOfRounds" when="{'one': '{} round.', 'other': '{} rounds.'}">
          </ng-pluralize>
        </li>
      </ul>
    </div>
    <h3>Todays results</h3>
    <ul ng-controller="TodayCtrl">
      <li>{{numberOfGamesToday}} games have been played today</li>
      <rokta-today results="gamesWon" verb="won"></rokta-today>
      <rokta-today results="gamesLost" verb="lost"></rokta-today>
    </ul>
    <h3>Current streaks</h3>
    <ul ng-controller="CurrentStreaksCtrl">
      <rokta-current-streaks streak-groups="winningStreakGroups" type="winning"></rokta-current-streaks>
      <rokta-current-streaks streak-groups="losingStreakGroups" type="losing"></rokta-current-streaks>
    </ul>
  </div>
</div>
